@model ASP_Demo_DBSlide.Models.StudentCreateForm

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>StudentCreateForm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="First_name" class="control-label"></label>
                <input asp-for="First_name" class="form-control" />
                <span asp-validation-for="First_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Last_name" class="control-label"></label>
                <input asp-for="Last_name" class="form-control" />
                <span asp-validation-for="Last_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birth_date" class="control-label"></label>
                <input asp-for="Birth_date" class="form-control" />
                <span asp-validation-for="Birth_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sections" class="control-label"></label>
                <select asp-for="Section_id" class="form-select">
                    <option disabled selected style="display:none;">Veuillez choisir une section</option>
                    @foreach(SectionListItemViewModel sect in Model.Sections)
                    {
                        <option value="@sect.Section_id">@sect.Section_name</option>
                    }
                </select>
                <span asp-validation-for="Section_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@* 
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} *@
