@inject UserSessionManager userSession
@{
    ViewData["Title"] = "Home Page";
    CurrentUser? user = userSession.CurrentUser;
}

<div class="text-center">
    <h1 class="display-4">Welcome@(user is null ? "" : $" {user.Email}")</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
