<!DOCTYPE html>
<html lang="fr-be">
    <head>
        <meta charset="utf-8" />
        <title>Démonstration Vue : Formulaires</title>
    </head>
    <body>
        <h1>Gooooogle</h1>
        <form method="get" action="/Home/Search">
            <div>
                <label for="query">Votre recherche :</label>
                <input id="query" name="query" type="search" placeholder="Tapez ici..." />
            </div>
            <button type="submit">Envoyer</button>
        </form>
    </body>
</html>