<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>@ViewData["Title"] - under construction</title>
    </head>
    <body>
        <img src="/assets/imgs/under-construction-2891888_640.jpg" />
    </body>
</html>