<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>@ViewData["Title"]</title>
        <style>
            body.Black {
                background-color: #222;
                color: white;
            }
        </style>
    </head>
    <body class="@TempData["Color"]">
    @if (TempData.ContainsKey("Color"))
    {
        <p>@TempData["Color"]</p>
    }
    else
    {
        <p>Pas de TempData["Color"]</p>
    }
    <header>
            <nav>
                <ul>
                    <li>
                        <a href="/Home/Index">
                            <div>Home</div>
                        </a>
                    </li>
                    <li>
                        <a href="/Home/Privacy">
                            <div>Privacy</div>
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <h1>Démonstration vue HTML</h1>
            <p>Ceci est une vue HTML qui peut contenir du code C#!</p>
        </main>
        <footer>
            <p>Création Interface3 - 2024</p>
        </footer>
    </body>
</html>