<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] : Privacy</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/Home/Index">
                        <div>Home</div>
                    </a>
                </li>
                <li>
                    <a href="/Home/Privacy">
                        <div>Privacy</div>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Consigne du formateur</h1>
        <p>C'est de l'HTML, faîtes-vous plaisir!</p>
    </main>
    <footer>
        <p>Création Interface3 - 2024</p>
    </footer>
</body>
</html>
