@using Microsoft.AspNetCore.Http.Features

@{
    ITrackingConsentFeature? consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    bool showBanner = !consentFeature?.CanTrack ?? false;
    string? cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieConsent" class="alert alert-info alert-dismissible fade show" role="alert">
        <p>Ce site utilise des cookies essentiels pour son bon fonctionnement.</p>
        <a asp-action="privacy" asp-controller="home">En apprendre plus ?</a>
        <button type="button" class="accept-policy close btn btn-outline-success rounded-pill"
            data-bs-dismiss = "alert" aria-label="Close" data-cookie-string="@cookieString">
            <span aria-hidden="true">Accepter</span>
        </button>
    </div>
    <script>
        (function () { 
            let button = document.querySelector('#cookieConsent button[data-cookie-string]');
            button.addEventListener('click', function (event) { 
                document.cookie = button.dataset.cookieString;
            },false);
        })();
    </script>
}